extends Layouts/_layout.pug
block head
	mixin head-meta(title, description,href)
		title=title
		meta(name="description" content=description)
		link(rel="canonical" href=href)
	+head-meta(
		'title',
		'description',
		'http://example.com'
	)
block prepend case
	-var friends = 1

block body
	mixin table(tr,td)
		-for (var x=0; x<tr; x++)
			tr
				-for (var y=0; y<td; y++)
					td
	+table(3,9)
